#zero{
    background-color: rgb(212, 224, 244);
    padding-top: 75px;
    margin-bottom: 5rem;
}
#topCloud{
    position: relative;
    left: 350px;
}

hr{
    border: dotted #Eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 75px auto 75px auto;
}
#first_skill{
    margin-top: 50px;
}
#bottomCloud{
    position: absolute;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.contact-me>p{
    padding: 0.8rem;
}
.contact-me>h3{
    padding: 0.8rem;
}
a{
    color: #11999E;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #Eaf6f6;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
#writing-h{
    margin-top: 3rem;
}


.bottom-container{
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    margin-top: 1.5rem;
    background-color: #66BFBF;
}
.credits{
    color: #Eaf6f6;
    font-size: 0.75rem;
}
h1{
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
}
#wd{
    font-size: 2.5rem;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
#outro-h{
    font-weight: bolder;
    color: #256668;
}
.container_pics{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.camera_pic{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.profile_pic{
    width: 300px;
}
.btn{
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 7px 7px 7px 7px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sacramento', cursive; */